.root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.transitionTarget {
  view-transition-name: var(--overlay-transition-name);
  contain: paint;
}

.imageContainer {
  display: block;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: auto;
  position: relative;
}

.image {
  display: block;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: auto;
}

.overlayContainer {
  position: absolute;
  inset: 0;
}

.overlay {
  display: block;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: auto;
  background: var(--overlay-background);
  transition: 0.3s;
}

.hidden {
  opacity: 0;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 1rem;
}

.description {
  white-space: break-spaces;
}
