.main {
  padding: 1rem;
}

.videoList {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
}

.videoListItem {
  display: flex;
  gap: 1rem;
  padding: 8px;
  color: inherit;
  text-decoration: none;
}
.videoListItem:hover {
  background: #eee;
}

.thumbnail {
  width: 160px;
  height: 90px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  view-transition-name: var(--thumbnail-transition-name);
  contain: paint;
}

.title {
  view-transition-name: var(--title-transition-name);
  contain: paint;
}
