.main {
  padding: 1rem;
}

.thumbnail {
  width: 100%;
  max-width: 1280px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-top: 1rem;
  view-transition-name: var(--video-id);
  contain: paint;
}

.description {
  margin-top: 1rem;
  white-space: break-spaces;
}
