.root {
  display: flex;
  flex-direction: column;
}

.content {
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.description {
  margin-top: 1rem;
  white-space: break-spaces;
}

.title {
  view-transition-name: var(--title-transition-name);
  contain: paint;
}
